<!DOCTYPE HTML>
<html>

<head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body>

    {{> header }}
    {{> nav }}

    {{> home/banner }}
    {{> home/sectionOne }}
    {{> home/sectionTwo }}
    {{> home/sectionThree }}
    {{> home/sectionFour }}

    {{> footer }}
    {{> scripts }}
</body>
</html>